.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #dc3545;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b02a37;
}